
<div class="questions">
  <mat-list>
  <h2>Add your question</h2>
  <form (ngSubmit)="createQuestion()">
    <input id="question" [(ngModel)]="question" name="question" required>
    <button type="submit">Add Question</button>
  </form>
</mat-list>
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <mat-accordion>
    <mat-expansion-panel 
      *ngFor="let q of questions; let i = index"
      (opened)="onQuestionClick(q, i)"
      (closed)="resetSelectedQuestion()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ q }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-button (click)="deleteQuestion(i)">Delete</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
